body {
    background-image: url("taxi_driver.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

fieldset {
    color: azure;
    width: 25%;
}

.Image {
    background-size: cover;   
    width: 250px;
    height: 175px;
    border-radius: 10px;
    margin: 10px;
    display :inline-block;
}

.AcceptTripForm-s, .DeleteTripForm-s, .FinishTripForm-s, .AllTripsForm-s, .OneTripForm-s, .AskTripForm-s, .SignupForm-s {
    background-color: rgb(86, 85, 85);    
    display :inline-block;
}

.Text {
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    font-size: xx-large;
    margin: 10px;
    display: inline-block;
}

table, th, td {
    background-color: aliceblue;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
}

